.App {
  text-align: center;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  position: absolute;
  width: 100vw;
  box-sizing: border-box;
  /* border: 2px solid; */
 text-align:right;
 height:6vh;
 /* color: rgb(62, 48, 143); */
 background-color:rgb(201, 197, 197);
}

.navbutton {
  height: 6vh;
  width: 9vw;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
}

.rentals-container {
  display: flex;
  position: absolute;
  margin-top: 6vh;
}

.input {
  text-align:center;
}

.homelogin {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("juGSXV.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
}

